<include file="Common/header" />
	<div id="canvas"></div>
	<!-- #section:basics/navbar.layout -->
	<div id="navbar" class="navbar navbar-default">

		<div class="navbar-container" id="navbar-container">
			<!-- #section:basics/sidebar.mobile.toggle -->
			<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
				<span class="sr-only">Toggle sidebar</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<!-- /section:basics/sidebar.mobile.toggle -->
			<div class="navbar-header pull-left">
				<!-- #section:basics/navbar.layout.brand -->
				<a href="javascript:;" class="navbar-brand">
					<small>
						<i class="fa fa-book"></i>
						A1-DOC
					</small>
				</a>

				<!-- /section:basics/navbar.layout.brand -->

				<!-- #section:basics/navbar.toggle -->

				<!-- /section:basics/navbar.toggle -->
			</div>

			<!-- #section:basics/navbar.dropdown -->
			<div class="navbar-buttons navbar-header pull-right" role="navigation">
				<ul class="nav ace-nav">
					<!-- #section:basics/navbar.user_menu -->
					<li class="light-blue">
						<if condition="$login_user">
				          <a href="{:U('Home/Item/index')}">我的项目</a>
				        <else />
				          <a href="{:U('Home/User/login')}">登录/注册</a>
				        </if>
					</li>
					<!-- /section:basics/navbar.user_menu -->
				</ul>
			</div>

			<!-- /section:basics/navbar.dropdown -->
		</div><!-- /.navbar-container -->
	</div>
		
	<style>
	body {
		overflow: hidden;
		background-color: #000000;
		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-o-user-select: none;
		-ms-user-select: none;
	
	}
	</style>
	
	<script src="__PUBLIC__/page/js/index/protoclass.js"></script>
	<script src="__PUBLIC__/page/js/index/box2d.js"></script>
	<script src="__PUBLIC__/page/js/index/index.js"></script>
		
</body>
</html>