<include file="Common/header" />

<input type="hidden" id="item_id" value="{$item.item_id}">
<input type="hidden" id="page_id" value="{$page_id}">
<input type="hidden" id="base_url" value="__APP__">
      
<!-- #section:basics/navbar.layout -->
<div id="navbar" class="navbar navbar-default">
	<script type="text/javascript">
		try{ace.settings.check('navbar' , 'fixed')}catch(e){}
	</script>

	<div class="navbar-container" id="navbar-container">
		<!-- #section:basics/sidebar.mobile.toggle -->
		<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
			<span class="sr-only">Toggle sidebar</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>

		<!-- /section:basics/sidebar.mobile.toggle -->
		<div class="navbar-header pull-left">
			<!-- #section:basics/navbar.layout.brand -->
			<a href="javascript:;" class="navbar-brand">
				<small>
					<i class="fa fa-book"></i>
					{$item.item_name}
				</small>
			</a>

			<!-- /section:basics/navbar.layout.brand -->

			<!-- #section:basics/navbar.toggle -->

			<!-- /section:basics/navbar.toggle -->
		</div>

		<!-- #section:basics/navbar.dropdown -->
		<div class="navbar-buttons navbar-header pull-right" role="navigation">
			<ul class="nav ace-nav">
				<!-- #section:basics/navbar.user_menu -->
				<if condition="$ItemPermn">
					<li class="light-blue">
						<a data-toggle="dropdown" href="#" class="dropdown-toggle">
							<span class="user-info">
								项目
								<small>更多操作</small>
							</span>
							<i class="ace-icon fa fa-caret-down"></i>
						</a>
						<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
							<li>
								<a href="#share-modal" role="button" data-toggle="modal">
									<i class="ace-icon fa fa-share-alt"></i>
									分享项目
								</a>
							</li>
							<li>
								<a href="#share-page-modal" role="button" data-toggle="modal">
									<i class="ace-icon fa fa-share"></i>
									分享当前页面
								</a>
							</li>
							<li>
								<a href="{:U('Home/Item/word')}?item_id={$item.item_id}">
									<i class="ace-icon fa fa-external-link"></i>
									导出项目
								</a>
							</li>
							<if condition="$ItemCreator">
								<li>
									<a href="{:U('Home/Item/add')}?item_id={$item.item_id}">
										<i class="ace-icon fa fa-edit"></i>
										修改信息
									</a>
								</li>
								<li>
									<a href="{:U('Home/Member/edit')}?item_id={$item.item_id}">
										<i class="ace-icon fa fa-group"></i>
										成员管理
									</a>
								</li>
								<li>
									<a href="{:U('Home/Attorn/index')}?item_id={$item.item_id}">
										<i class="ace-icon fa fa-send"></i>
										转让
									</a>
								</li>
								<li>
									<a href="{:U('Home/Item/delete')}?item_id={$item.item_id}">
										<i class="ace-icon fa fa-remove"></i>
										删除
									</a>
								</li>
							</if>
							
							<li class="divider"></li>

							<li>
								<a href="{:U('Home/Item/index')}">
									<i class="ace-icon fa fa-bars"></i>
									更多项目
								</a>
							</li>
						</ul>
					</li>
				<else />
					<li class="light-blue">
						<if condition="! $login_user">
							<a href="{:U('Home/User/login')}">
								<span class="user-info">
									登录/注册
								</span>
							</a>
						<else />
							<a href="{:U('Home/Item/index')}">
								<span class="user-info">
									我的项目
								</span>
							</a>
						 </if>
					</li>
				 </if>	
				<!-- /section:basics/navbar.user_menu -->
			</ul>
		</div>

		<!-- /section:basics/navbar.dropdown -->
	</div><!-- /.navbar-container -->
</div>

<!-- /section:basics/navbar.layout -->
<div class="main-container" id="main-container">
	<script type="text/javascript">
		try{ace.settings.check('main-container' , 'fixed')}catch(e){}
	</script>
	
	<!-- #section:basics/sidebar -->
	<div id="sidebar" class="sidebar responsive">
		<script type="text/javascript">
			try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
		</script>
		
		<if condition="$ItemPermn">
			<div class="sidebar-shortcuts" id="sidebar-shortcuts">
				<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
					<a class="btn btn-success" id="new-like" href="{:U('Home/Page/edit')}?item_id={$item.item_id}&type=new" title="新建页面">
						<i class="ace-icon fa fa-file"></i>
					</a>
					<a class="btn btn-info" id="dir-like" href="{:U('Home/Catalog/edit')}?item_id={$item.item_id}" title="新建/编辑/删除目录">
						<i class="ace-icon fa fa-folder-open"></i>
					</a>
					<a class="btn btn-warning" id="edit-link" href="" title="编辑页面">
						<i class="ace-icon fa fa-edit"></i>
					</a>
					<a class="btn btn-danger" id="delete-link" href="" title="删除页面" onclick="return confirm('确认删除吗？');return false;" >
						<i class="ace-icon fa fa-remove"></i>
					</a>
				</div>

				<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
					<span class="btn btn-success"></span>
					<span class="btn btn-info"></span>
					<span class="btn btn-warning"></span>
					<span class="btn btn-danger"></span>
				</div>
			</div><!-- /.sidebar-shortcuts -->
		</if>

		<ul class="nav nav-list">
			<foreach name="pages" item="page">
				<li class="page">
					<a href="javascript:;" load-page-id="{:U('Home/Page/index')}?page_id={$page.page_id}" data-page-id="{$page.page_id}">
						<i class="menu-icon fa fa-file"></i>
						<span class="menu-text"> {$page.page_title} </span>
					</a>
					<b class="arrow"></b>
				</li>
	        </foreach>
	        <foreach name="catalogs" item="catalog">
				<li class="folder">
					<a href="javascript:;" class="dropdown-toggle">
						<i class="menu-icon fa fa-folder-open"></i>
						<span class="menu-text"> {$catalog.cat_name} </span>
						<b class="arrow fa fa-angle-down"></b>
					</a>
					<b class="arrow"></b>
					<ul class="submenu">
						<foreach name="catalog.pages" item="catalog_page">
							<li class="page">
								<a href="javascript:;" load-page-id="{:U('Home/Page/index')}?page_id={$catalog_page.page_id}" data-page-id="{$catalog_page.page_id}">
									<i class="menu-icon fa fa-caret-right"></i>
									{$catalog_page.page_title}
								</a>
								<b class="arrow"></b>
							</li>
						</foreach>
					</ul>
				</li>
	        </foreach>
		</ul><!-- /.nav-list -->

		<!-- #section:basics/sidebar.layout.minimize -->
		<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
			<i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
		</div>

		<!-- /section:basics/sidebar.layout.minimize -->
		<script type="text/javascript">
			try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
		</script>
	</div>
	
	<div class="main-content">
		<div class="main-content-inner">
			<!-- /section:basics/content.breadcrumbs -->
			<div class="page-content">
				
				<include file="Common/setting" />

				<!-- /section:settings.box -->
				<div class="row">
					<div class="col-xs-12">
						<!-- PAGE CONTENT BEGINS -->
						<iframe id="page-content" width="100%" scrolling="yes" frameborder="0" style="overflow:visible;" name="main" seamless ="seamless" src="" onLoad="iFrameHeight()"></iframe>
						<!-- PAGE CONTENT ENDS -->
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.page-content -->
		</div>
	</div><!-- /.main-content -->
	
	<!-- 分享项目框 -->
	<div id="share-modal" class="modal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="blue bigger">分享项目</h4>
				</div>
				<div class="modal-body">
					<p>项目地址：<code>{$share_url}</code></p>
	    			<p>你可以复制地址给你的好友</p>
				</div>
				<div class="modal-footer">
					<button class="btn btn-sm" data-dismiss="modal">
						<i class="ace-icon fa fa-times"></i>
						关闭
					</button>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 分享页面框 -->
	<div id="share-page-modal" class="modal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="blue bigger">分享页面</h4>
				</div>
				<div class="modal-body">
					<p>页面地址：<code id="share-page-link"></code></p>
	    			<p>你可以复制地址给你的好友</p>
				</div>
				<div class="modal-footer">
					<button class="btn btn-sm" data-dismiss="modal">
						<i class="ace-icon fa fa-times"></i>
						关闭
					</button>
				</div>
			</div>
		</div>
	</div>
	
	<include file="Common/footer" />
	
	<script src="__PUBLIC__/js/item/show.js"></script>
		
</body>
</html>